---
layout: default
---
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

<div class="bread_and_rolls">
  {% for post in site.posts %}
  {% if post.category contains 'bread' %}
    <article class="post" style="display:flex; align-items:center;">
      
      <div class="wrapper" style="width:70%; display:inline-block;margin-right:5%">
        
      <h1 style="margin-top:0px;"><a href="{{ site.baseurl }}/bread_and_rolls{{ post.url }}">{{ post.title }}</a></h1>
      
      <div class="entry">
          {{post.excerpt}} 
      </div>
        <a href="{{ site.baseurl }} {{ post.url }}" class="read-more">Read More</a> 
      </div>
      <img src= "{{ post.image }}" style="display:inline-block; height:25%; width:25%; border-radius:10%;" align="right" vertical-align="middle" display="inline">
    </article>
  {% endif %}
  {% endfor %}
</div>
